# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Exclude images
*.jpg
*.jpeg
*.webp
*.avif

# but keep a couple of them
!images/cat.jpeg
!images/airplane.jpg


# Output logs or temporary files
resnet50_training_output.txt
effnetb0_training_output.txt

# VS Code settings (opzionale)
.vscode/

# Python environment/version files
.python-version

# Docker temporary or override files
docker-compose.override.yml
*.dockerfile

# macOS
.DS_Store