# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/


# Output logs or temporary files
resnet50_training_output.txt
effnetb0_training_output.txt

# VS Code settings (opzionale)
.vscode/

# Python environment/version files
.python-version

# Docker temporary or override files
docker-compose.override.yml
*.dockerfile